.logo {
    display: flex;
    align-items: center;
}

.navbar {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    color: black;
    border-bottom: 1px solid #ccc;
}

.navbar-nav {
    margin-left: 35%;
}

.signin-button a {
    padding: 10px 20px;
    background-color: #1c95d3;
    border-radius: 6px;
    gap: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: normal;
}

.login-button a {
    padding: 10px 20px;
    background-color: rgba(29, 159, 224, 0.5);
    border-radius: 6px;
    gap: 10px;
    text-align: center;
    text-decoration: none;
    color: rgba(19, 105, 148, 1);
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: normal;
}

.titulo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding-top: 2%;
    padding-bottom: 5%;
}

.error {
    color: red;
}

#form-signup {
    display: flex;
    width: 50%;
    height: auto;
    margin: 10px auto;
    text-align: center;
    width: 700px;
    height: 680px;
    background-color: #ade8f4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}

.form-login {
    height: 100%;
    background-color: #ade8f4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.blue-button {
    display: flex;
    justify-content: center;
}

.No_cuenta {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.text-center {
    text-align: center;
}

footer {
    margin-top: 4%;
    padding: 2em 0;
}

.footer-07 {
    background: #283646;
}

.footer-07 a {
    color: #a3de83;
}

.footer-07 p {
    color: rgba(255, 255, 255, 0.3);
}

.footer-07 .footer-heading {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.footer-07 .footer-heading .logo {
    color: #fff;
    font-family: "Poppins", Arial, sans-serif;
    text-decoration: none;
}

.logo img {
    width: 20%;
}

.footer-07 .menu {
    margin-bottom: 30px;
    text-align: left;
}

.footer-07 .menu a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

/*Carrusel imágenes*/
a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

a,
a:hover {
    text-decoration: none !important;
}

.media-29101 img {
    margin-bottom: 10px;
}

.media-29101 h3 {
    font-size: 14px;
    font-weight: 00 !important;
}

.media-29101 h3 a {
    color: #056eca;
}

.owl-2-style .owl-nav {
    display: none;
}

.owl-2-style .owl-dots {
    text-align: center;
    position: relative;
    bottom: 0px;
}

.owl-2-style .owl-dots .owl-dot {
    display: inline-block;
}

.owl-2-style .owl-dots .owl-dot span {
    display: inline-block;
    width: 15px;
    height: 3px;
    border-radius: 6px;
    background: #cccccc;
    -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
    margin: 3px;
}

.owl-2-style .owl-dots .owl-dot.active span {
    background: #007bff;
}

.owl-2-style .owl-dots .owl-dot:active,
.owl-2-style .owl-dots .owl-dot:focus {
    outline: none;
}

.video-responsive {
	height: 80%;
	overflow: hidden;
	padding-bottom: 50%;
	padding-top: 10px;
	position: relative;
	}
    
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	width: 40%;
    height: 40%;
	left: 10%;
	position: absolute;
	top: 0;
}


.circulo {
    position: absolute;
    width: 150px;
    /* Ajusta el tamaño de los círculos según tus necesidades */
    height: 150px;
    border-radius: 50%;
    /* Forma circular */
    opacity: 1;
    /* Ajusta la opacidad según tus preferencias */
}

.circulo.azul1 {
    background-color: #0074d9;
    /* Color azul */
    top: 10%;
    left: 5%;
}

.circulo.celeste1 {
    background-color: #1cf5ea;
    /* Color amarillo */
    top: 25%;
    left: 25%;
}

.circulo.azul2 {
    background-color: #0074d9;
    /* Color azul */
    top: 10%;
    left: 85%;
}

.circulo.celeste2 {
    background-color: #1cf5ea;
    /* Color amarillo */
    top: 25%;
    left: 70%;
}

@media (max-width: 215px) {}