header {
    background-color: #fff; 
    color: black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.titulo h1 {
    margin: 0;
    padding: 0;
}

.titulo img {
    width: 280px;
    height: 300px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login-button a {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.login-button a:hover {
    background-color: #0056b3;
}

.titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.error {
    color: red;
}

#form-signup {
    display: flex;
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.primera-fila {
    width: 50%;
}

.segunda-fila{
    width: 50%;
}

ul{
    list-style: none;
}

ul li{
    margin-bottom: 20px;
}

#form-login {
    max-width: 400px;
    margin: 0px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.blue-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
}

.blue-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

.blue-button:hover {
    background-color: #0056b3;
}

.circulo {
    position: absolute;
    width: 150px; /* Ajusta el tamaño de los círculos según tus necesidades */
    height: 150px;
    border-radius: 50%; /* Forma circular */
    opacity: 1; /* Ajusta la opacidad según tus preferencias */
}

.circulo.azul1 {
    background-color: #0074D9; /* Color azul */
    top: 10%;
    left: 5%;
}

.circulo.celeste1 {
    background-color: #1cf5ea; /* Color amarillo */
    top: 25%;
    left: 25%;
}

.circulo.azul2 {
    background-color: #0074D9; /* Color azul */
    top: 10%;
    left: 85%;
}

.circulo.celeste2 {
    background-color: #1cf5ea; /* Color amarillo */
    top: 25%;
    left: 70%;
}
