//Colores acordeones
$color_acordeon_1: #ffce9f;
$color_acordeon_2: #e372ff;
$color_acordeon_3: #ffb9ea;
$color_acordeon_4: #96fff1;
$color_acordeon_5: #ffa860;
$color_acordeon_6: #FFA691;
$color_acordeon_7: #8D66FF;
$color_acordeon_8: #E0ADFF;
$color_acordeon_9: #8AFFAD;
$color_acordeon_10: #FF6F54;
//Fin colores acordeones
//------------------------------------
//Colores tarjetas flip
$color_tarjeta: #ffffff;
//Fin colores tarjetas flip